body {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 400px;
    padding: 1em;
    font-family: 'Verdana', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
header h1 {
    margin: 0;
    align-self: center;
    font-weight: 500;
}
header #logo {
    align-self: flex-end;
    width: 80px;
}
header #settings-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 1.25em;
}
section #main-content {
    display: none;
}


#issue {
    border: 1px solid #000;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#issue-title {
    font-size: small;
    margin-top: 0;
}
#issue-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
#issue-content {
    display: none;
}

#analyse {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1em 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    width: 100%;
}

#analyse:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#analysis-output {
    display: none;
}

section#settings {
    margin-top: 1em;
    background-color: white;
    padding: 1em;
    border: 1px solid #000;
}

#error-message {
    color: red;
    font-weight: bold;
    display: none;
    background-color: #ffdddd;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}

#spinner {
    height: 10em;
}